.hero {
  /* background-color: crimson; */
  background-image: url("/Website/imgs/teste.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom: 1px solid black;
  min-height: 750px;
}

@media (max-width: 768px) {
    .hero {
        background-size: 100%;
    }
}